.order {
  padding: 0;
  &Head {
    margin-bottom: 2.4rem;
  }
  &Title {
    @media(max-width: 991px){
      text-align: center;
    }
  }
    &W {
    background-color: rgba($color: #1C1A19, $alpha: .9);
    padding: 4rem;
    border-radius: 2rem;
    @media(max-width: 991px){
      padding: 3rem;
    }
  }
  .agreement {
    font-weight: 300;
    font-size: 1.4rem;
    line-height: 1.8rem;
    @media(max-width: 991px){
      margin-top: 1.8rem;
      text-align: center;    
    }
    a {
      display: inline;
    }
  }
  .formInput {
    border: 1px solid #FFCC34;
  }
}